body{
    margin: 0;
    overflow-x: hidden;
    background: #424242;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #444444
}

.head{
    height: 80vh;
    display: flex;
    position: relative;
}

.head>.left{
    height: 100%;
}

.head>.left>img{
    height: 100%;
}

.head>.right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: #292929;
    color: white;
    font-family: sans-serif;
}

.head>.right>div>h1{
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

.head>.right>div>h4{
    margin: 0;
    font-size: 40px;
    font-weight: 100;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    color: coral;
}

.menu {
    position: absolute;
    font-size: 25px;
    padding: 25px;
    bottom: 8%;
    background: white;
    width: 35%;
    clip-path: polygon(0 0,100% 0,100% 100%, 5% 100%);
    right: 0;
}

.menu>a {
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s,padding 0.1s ease-in;
}

.menu>a:hover {
    padding: 3px 10px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    color: coral
}

.about,.skills {
    text-align: center;
    color: #e2e2e2;
    padding:50px;
}

.skills {
    background: white;
    color: #949494;
}

.about>h1,.skills>h1 {
    font-size: 3rem;
}

.about>p,.skills>p {
    padding: 0 70px;
}

.contacts {
    color: #ff7f50a1;
}

.contacts span{
    padding: 0 10px
}

.skillset{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.skillset>div{
    width: 30%;
    text-align: left;
    height: 100px;
}

.skillset>div>.prog{
    background: #c1bebe4a;
    width: 100%;
    height: 35%;
    position: relative;
}

.skillset>div>.prog::before{
    content: '';
    height: 100%;
    position: absolute;
    background: #424242;
}

.skillset>#bash>.prog::before{
    width: 80%
}

.skillset>#matlab>.prog::before{
    width: 90%
}

.skillset>#python>.prog::before{
    width: 75%
}
